[submodule "NanoTools"]
	path = NanoTools
	url = git@github.com:cmstas/NanoTools.git
[submodule "rooutil"]
	path = rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "ProjectMetis"]
	path = ProjectMetis
	url = https://github.com/aminnj/ProjectMetis.git
